.modal {
    background: #73BA76;
	opacity: 0.9;
}

 @media (max-width: 1190px) {
    .top-right .tollfree-link {
          margin-right: 10px;
     }
	 .top-right .dropdown-toggle  .img-circle{
		 display:none;
	 }
	 
	.vej-header{
		padding-top: 8px; 
	}
	
	.top-right .dropdown-toggle{
		min-width:7em;
		padding: 11px!important;
	}
	
	.top-right .dropdown-toggle{
		
	}
	 
 }
 @media (max-width: 1040px) {
	
    .top-right .tollfree-link {
     margin-right: 0px;
	 
    }
	.vej-logo {
		float: left;
		width: 50px;
		margin-left: 10px;
		margin-top:10px;
		}
	.vej-selectcity {
		margin-left: -3px;
		float: left;
		margin-top: 0px;
	}	
  .top-right {
    margin-left: auto;
    padding-right: 4px;
  }
 .ui.selection.dropdown{
    z-index: 999999;
    }


 }

 
@media (max-width: 480px) {
	.coupon-code img{width:100%;}
	  
	.customedisplay{display:none!important;}  
	  
	
  }
  
@media (max-width: 678px){
	.top-right .dropdown-menu{
		min-width: auto;
	}
	
	.top-right .dropdown-toggle::after {
		margin-left: 3px;
	}
}