h1 {
  text-transform: uppercase;
  font-size: 16px;
  color: #666;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,td {
  padding: 10px;
  border: 1px solid #888;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* background-color: #e2e2e2; */
  padding: 5px;
  object-fit: contain;
}
figure {
  text-align: center;
}
figcaption {
  font-size: 14px;
  color: #333;
  text-transform: capitalize;
}
body{
  background-color: #e2e2e2;

}